@media screen  and (max-width: 992px){
    .iniciar-sec{
        margin-right: -10px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .nav-logouth {
        margin-left: -10px;
    }

}


.nav-auth:hover {
    transform: scale(1.02, 1.02);
}




.nav-logouth {
    margin-left: 10px;
}